version: '3.8'

services:
  xiaomi-doorbell:
    build: .
    container_name: xiaomi-doorbell
    restart: unless-stopped
    environment:
      - TZ=Asia/Shanghai
    user: "1000:1000"  # 使用与主机相同的用户ID
    volumes:
      - ./config1:/app/config
      - ./video:/app/video
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
